*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
@media screen and (max-width:430px){
    body{
        font-size: 10px;
        background-color: beige;
        
    }
  
    #nav ul li a{
        color: aqua;
        background-color: red;
    }

    
}






header{
    background-image: linear-gradient(to top, rgba(181, 181, 181, 0.689),rgba(186, 186, 186, 0.584)),url(./image\ two.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    display: flex;
}
:root{
    --useColor:red;
    

}
#nav{
  background-color: rgba(181, 181, 181, 0.6);
   position: fixed;
   top: 0;
   /* right: %; */
   width: 100%;
   /* display: flex; */
}
#nav ul li {
    /* display: flex; */
    display: inline-block;
}

#nav ul li a{
    /* display: flex; */
    padding: 10px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 25px;
    font-family: ALGERIAN;
    color: white;
    text-shadow: 3px 3px 2px black;
}
#nav ul{
    padding: 20px;
    margin-left: 290px;
}
#nav ul li a:hover{
 background-color: rgba(51, 66, 4, 0.45);
 border-radius: 30px;
}
.card{
    /* display: flex; */
    width: 200px;
    height: 350px;
    background-color: rgba(0, 0, 0, 0.402);
    margin: auto;
    border-radius: 20px;
     margin-top: 180px;
     /* margin: auto; */
     text-align: center;
     padding-top: 5px;
     /* margin-top: 90px; */
     box-shadow: 4px 4px 3px white;
}
.card img{
      margin-top: -80px;
    width: 150px;
    border-radius: 20px;
    height: 180px;
    border: 2px solid white;
    box-shadow: -3px -3px 2px  white;
}
/* .card div{
    background-color: blue;
    width: 100px;
    height: 100px;
     
  

} */
/* #Ehsas{

    display:flex;
} */


#Ehsas img{
    /* display: flex; */
    box-shadow: 3px 3px 2px black,-3px -3px 2px black;
    border: 3px solid #aaf4b5;
    margin-top: 90px;
    margin-left: 575px;
    width: 130px;
    height: 180px;
    border-radius:10px;
    display: flex;
}
.card h2{
    /* display: flex; */
    /* margin-top: 300px; */
    color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    text-shadow: 3px 3px 2px black;
}
.card p{
    /* display: flex; */
    color: white;
    padding:10px;
}
#media{
    /* border: 2px solid #000; */
    align-items: center;
    background-color: #ffffff;
    margin-top: 110px;
    height: 40px;
    
}
#media a i{
    padding: 5px;
    /* display: block; */
   font-size: 30px;
   width: 40px;
   height: 40px;
   text-decoration: none;
}
#media a{
    padding: 2px;
}

#media a i:hover{
    background-color: rgb(27, 194, 240);
    border-radius: 50%;
}


#workarea h2{
    background-color: var(--useColor);
    text-align: center;
    font-size:30px;
    color: tomato;
    text-shadow: 3px 3px 2px black;
    font-family: ALGERIAN;
}
#workarea{
    border: 2px solid #000;
    margin-top: 10px;
    width: 100%;
    background-color: blanchedalmond;

}
#workarea p{
    font-size: 20px;
    font-style: italic;
    margin-left: 20px;
}
#workarea ol{
    margin-left: 20px;
    
}
#workarea ol li{
 /* padding-left: 20px; */
 list-style-type: decimal;
 list-style-position: inside;
 font-size: 20px;
 padding: 15px;
 background-color: burlywood;
}

#learningarea{
    width: 100%;
    border: 2px solid #000;
    background-color: blanchedalmond;
    margin-top: 10px;

}
#learningarea h2{
    color: tomato;
    text-align: center;
    font-size: 30px;
    font-family: ALGERIAN;
    background-color:var(--useColor);
}
#learningarea p{
    margin-left: 20px;
    font-size: 20px;
    font-style: italic;

}
#learningarea ol{
    margin-left: 20px;

}
#learningarea ol li{
    list-style-position: inside;
    padding: 15px;
    background-color: burlywood;
    font-size: 20px;

}
#project{
    border: 2px solid #000;
    background-color:blanchedalmond;
    margin-top: 10px;
    width: 100%;
}
#project h2{
    color:tomato;
    text-align: center;
    background-color:var(--useColor);
    font-size: 30px;
    font-family: ALGERIAN;
    
}
#project p{
   margin-left: 20px;
    font-size: 20px;
    font-style: italic;


}
#project ul{
    margin-left: 10px;

}
#project ul li{
    background-color: burlywood;
    list-style-type: circle;
    list-style-position: inside;
    padding: 15px;
}
#about{
    margin-top: 10px;
    width: 100%;
    background-color: blanchedalmond;
    border: 2px solid #000;
}
#about h1{
    text-align: center;
    font-family: ALGERIAN;
    background-color:var(--useColor);
    color: tomato;
}
#about p{
    font-size: 20px;
    /* margin-left: 20px; */
    padding: 10px;
    background-color: burlywood;
    float: left;
    width: 100%;
}

#contact{
    border: 2px solid #000;
    background-color: blanchedalmond;
    width: 100%;
    margin-top: 10px;
    
}
#contact h2{
    text-align: center;
    color:tomato;
    background-color:var(--useColor);
    font-family: ALGERIAN;

}
#contact div{
    width: 1000px;
    height: 3000px;
    border: 1px solid #000;
    background-color: blueviolet;
    margin: auto;
    margin-top: 20px;
    box-shadow: 4px 4px 4px black;
    padding: 20px;
    /* text-align: center; */
    padding: 20px;
}

#contact p{
    text-align: center;
    text-transform: uppercase;
    background-color: black;
    color: white;
    /* padding-top: 50px; */
    margin-top: 30px;

}
#about div span {
 /* float: left; */
 display: block;
 padding: 10px;
 margin-left: 20px;
 font-size: 20px;
 font-weight: bolder;
 background-color:black;
 color: white;
 
    
}
#about div h6{
    /* float: right; 
    */
    font-size: 20px;
    background-color:var(--useColor);
    clear: both;
    color:white;
    margin-left: 100px;
    /* float: right; */
    display: block;
    padding: 10px;
    margin: 5px;
    margin-left: 50px;
}
#about p img{
    width: 200px;
    height: 300px;
    float: right;
    margin-top: -100px;
    /* padding-right: 100px; */
    margin-right: 30px;
    

}
#about div h1{
    text-align: center;
    margin-top: 20px;
    /* padding: 10px; */
    color: tomato;
    background-color: var(--useColor);
    text-transform: uppercase;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

#contact div input{
    display:block;
    margin: auto;
    padding: 10px;
    margin: 3px;
    margin-left: 10px;
    width: 200px;
}
#contact div input:hover{
    background-color: rgba(11, 181, 233, 0.619);
    color: white;
}
input[type-Send]{
    background-color: tomato;
}
#contact div span{
    background-color: tomato;
    display: inline-block;
}
